  
.secondbox{
    position: absolute;
    width: 370px;
    right: 0;
    height: 350px;
    padding-top: 24px;
}
#basic_password {
   background-color: rgb(255,255,255) !important;
}
.tableHiddle{
    display: none;
}